@{
    ViewData["Title"] = "Alterar Código de Acesso";
}
<style>
    body{background-color:#404040 }
</style>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="width: 400px; text-align: center; padding: 20px; background-color: #ffffff; border: 1px solid #000; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
        <h2 style="white-space: nowrap; margin-bottom: 15px">Alterar Código de Acesso</h2>

        <form method="post" action="/home/AplicarCodigoAcesso">
            <div style="margin-bottom: 15px;">
                <label for="novoCodigo" style="display: block; margin-bottom: 5px;">Novo Código de Acesso</label>
                <input type="password" id="novoCodigo" name="NovoCodigo" style="width: 100%; padding: 8px;" />
            </div>

            <div style="margin-bottom: 15px;">
                <label for="confirmarCodigo" style="display: block; margin-bottom: 5px;">Confirmar Código de Acesso</label>
                <input type="password" id="confirmarCodigo" name="ConfirmarCodigo" style="width: 100%; padding: 8px;" />
            </div>

            <button type="submit" style="padding: 10px 20px; background-color: #333333; color: #ffffff; border: none; border-radius: 5px;">
                Aplicar
            </button>
        </form>
    </div>
</div>
