@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button onclick="window.location.href='/home/adicionarlivro'" style="height:auto; width:auto">Entrar na página!</button>
</div>
