@* @model IEnumerable<SiteBiblioteca.Models.Livro> *@

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #404040;
            color: #D3D3D3;
            margin: 0;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

            .header img {
                width: 50px;
            }

        .search-bar {
            margin-right: auto;
            margin-left: 20px;
        }

            .search-bar input[type="text"] {
                padding: 5px;
                width: 200px;
                margin-right: 10px;
            }
        /* Margem à direita do input */

        .book-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Cria colunas responsivas */
            gap: 20px; /* Espaço entre os itens */
            padding: 20px;
        }

        .book {
            border: 1px solid #FFFFFF;
            padding: 10px;
            background-color: #505050;
            text-align: center; /* Centraliza o texto dentro do card do livro */
        }

            .book img {
                width: 100%;
                height: auto; /* Mantém a proporção da imagem */
            }

        .image {
            display: flex; /* Flexbox para alinhar a imagem */
            justify-content: start; /* Centraliza a imagem horizontalmente */
            margin: -150px 120px; /* Margem acima e abaixo da imagem */
        }

            .image img {
                max-width: 100%; /* Garante que a imagem não exceda o container */
                height: auto; /* Mantém a proporção da imagem */
            } 

        .buttons {
            margin-left: auto; /* Alinha os botões à direita */
            display: flex; /* Usar flexbox para alinhar os botões */
            gap: 10px; /* Espaço entre os botões */
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="~/img/logo.png" alt="Biblioteca" onclick="location.href='/'"/>
        <h1>Bem-vindo à biblioteca!</h1>

        <div class="search-bar">
            <input disabled type="text" placeholder="Procure um livro">
            <button disabled>Pesquisar</button>
        </div>
        <div class="buttons">
            <button onclick="location.href='@Url.Action("SobreNos")'">Sobre nós</button>
            <button onclick="location.href='Identity/Account/Login'">Login</button>
        </div>
    </div>

    <div class="image">
        <img src="~/img/biblioteca.png" alt="Imagem da Biblioteca" />
    </div>

@*     <div class="book-container">
        @foreach (var livro in Model)
        {
            <div class="book">
                <img src="~/img/@livro.Imagem" alt="@livro.Titulo">
                <p>@livro.Titulo</p>
            </div>
        }
    </div> *@
</body>
</html>
