@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button onclick="window.location.href='/Home/SobreLivro'" style="height:auto; width:auto">Entrar na página!</button> no index.cshtml para poupar tempo
</div>
