@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{ 
    <form action="/Pages/Pesquisa" method="get" class="search-bar d-flex">
        <input type="text" name="termo" placeholder="Procure um livro" class="form-control me-2" />
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>

    <div class="buttons">
        <button onclick="location.href='@Url.Action("SobreNos", "Pages")'">Sobre nós</button>
        <button onclick="location.href='Identity/Account/Manage/EditarPerfil'">Perfil</button>
        <img src="~/img/user.png" />
    </div>

}
else
{
    <form action="/Pages/Pesquisa" method="get" class="search-bar d-flex">
        <input disabled type="text" name="termo" placeholder="Procure um livro" class="form-control me-2" />
        <button disabled type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
    <div class="buttons">
        <button onclick="location.href='@Url.Action("SobreNos", "Pages")'">Sobre nós</button>
        <button onclick="location.href='Identity/Account/Login'">Login</button>
    </div>
}