@page
@model SiteBiblioteca.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar Email";
}

<style>
    /* Garante que o fundo ocupe toda a área da página */
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: #404040;
    }

    .button {
        padding: 10px;
        background-color: #cccccc;
        color: #000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #404040;">
    <div style="width: 400px; text-align: center; padding: 20px; background-color: #ffffff; border: 1px solid #000;">
        <div class="header">
            <img src="/img/logo.png" onclick="location.href='/'" alt="Logotipo" />
            <h2 style="font-weight: normal;">Por favor, confirme o seu email</h2>
        </div>

        <p style="font-size: 16px; margin-bottom: 30px; color: #404040;">
            Aceda à sua conta de email para concluir <br /> o processo de confirmação
        </p>

        <div class="button-container">
            <button class="button" onclick="window.location.href='./ConfirmEmail'">Enviar novamente</button>
            <button class="button" onclick="window.location.href='@Url.Action("EditarPerfil", "Pages")'">Alterar endereço de email</button>
        </div>
    </div>
</div>
