@page
@model SiteBiblioteca.Areas.Identity.Pages.Account.ConfirmEmailModel

<style>
    /* Garante que o fundo ocupe toda a área da página */
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: #444;
        font-family: Arial, sans-serif;
    }

    .button {
        padding: 12px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s, transform 0.2s;
    }

        .button:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .btn-primary {
        margin-right: 20px;
        padding: 8px 15px;
        background-color: #6c757d;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .btn-primary:hover {
            background-color: #495057;
        }

    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #444;
    }

    .content-box {
        width: 100%;
        max-width: 600px;
        padding: 30px;
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .header h2 {
        font-weight: normal;
        color: #333;
    }

    .message {
        font-size: 16px;
        color: #666;
        margin-bottom: 30px;
    }

    .button-container {
        display: flex;
        margin-top: 30px;
        align-self: center;
        margin-left: 185px;
    }
</style>

<div class="content-container">
    <div class="content-box">
        <!-- Botão ao lado do título -->
        <div class="header">
            <button class="btn-primary" onclick="window.location.href='/Identity/Account/PersonalData'">&lt;</button>
            <h2>Por favor, confirme o seu email</h2>
        </div>

        <p class="message">
            Aceda à sua conta de email para concluir <br /> o processo de confirmação
        </p>

        <div class="button-container">
            <button class="button" onclick="window.location.href='./ConfirmEmail'">Enviar novamente</button>
        </div>
    </div>
</div>
